.login {
	padding: 5px 20px;
	border: 2px solid rgb(255, 136, 255);
	text-align: center;
}

.login-form {
	max-width: 450px;
	margin: 0 auto;
}

.login .button {
	border-radius: 0;
	padding: 7px 20px;
	margin-bottom: 10px;
	border: 2px solid rgb(161, 22, 161)
}

.login input {
	border: 2px solid rgb(255, 196, 0);
	margin-bottom: 10px;
}

.login label {
	margin-bottom: 5px;
	text-align: left;
}

.login a {
	text-decoration: none;
	color: rgb(0, 119, 255)
}

.login a:hover {
	text-decoration: underline;
	color: rgb(0, 119, 255);
	text-decoration-color: rgb(0, 119, 255);
}

