.card {
	display: flex;
	column-gap: 20px;
	border: 2px solid rgb(120, 240, 22);
	padding: 15px;
	margin-bottom: 20px;
}

.card-content {
	width: 70%;
}
.card-info {
	width: 30%;
}

.title {
	font-size: 20px;
	margin:0;
	margin-bottom: 20px;
}

.author,
.duration,
.created {
	margin-bottom: 15px;
}
.btn-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	row-gap: 5px;
	column-gap: 5px;
}
.btn-wrap .button {
	border: 3px solid plum;
	padding: 5px 25px;
}